*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
}

img{
  display: block;
}

.navBar{
  background: linear-gradient(90deg, #672280, #A626D3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.trollFace{
  height: 2em;
}

.title{
  font-family: Karla, sans-serif;
  font-weight: 700;
  letter-spacing: -0.1em;
}